<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 이 XML 파일이 어떤 매퍼 인터페이스와 연결되는지 지정합니다. -->
<mapper namespace="com.kanbee.project.mapper.UserMapper">

    <!-- register: 회원 가입을 위한 INSERT 문입니다. -->
    <!-- parameterType: 전달받는 데이터의 타입을 지정합니다. #{username} 등은 객체의 필드명과 매칭됩니다. -->
    <insert id="register" parameterType="com.kanbee.project.model.User">
        INSERT INTO users (username, password, nickname, role)
        VALUES (#{username}, #{password}, #{nickname}, #{role})
    </insert>

    <!-- findByUsername: 아이디로 사용자 정보를 조회하는 SELECT 문입니다. -->
    <!-- resultType: 조회 결과를 어떤 객체에 담을지 지정합니다. -->
    <select id="findByUsername" resultType="com.kanbee.project.model.User">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <!-- checkUsername: 아이디 중복 확인을 위해 개수를 세는 SELECT 문입니다. -->
    <select id="checkUsername" resultType="int">
        SELECT COUNT(*) FROM users WHERE username = #{username}
    </select>

    <!-- checkNickname: 닉네임 중복 확인을 위한 SELECT 문입니다. -->
    <select id="checkNickname" resultType="int">
        SELECT COUNT(*) FROM users WHERE nickname = #{nickname}
    </select>

    <!-- updatePassword: 비밀번호 변경 -->
    <update id="updatePassword">
        UPDATE users SET password = #{password} WHERE username = #{username}
    </update>

</mapper>
